body {
    background-color: darkseagreen;
}

h1 {
    font-size: 100px;
    color:antiquewhite;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    width: 200px;
    height: 150px;
    background-color: antiquewhite;
    border-radius: 20%;
    font-size: 36px;
    color: rgb(125, 164, 125);
}